@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "ibm-plex-sans";
  src: url("/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

.division {
  border-bottom: 4px solid #f5f5f5;
}

.header {
  background-image: url("/images/Frame.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.learn {
  background-color: #ECECEC
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  color: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
